# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Code formatting
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# CSS, SCSS, and less
[*.{css,scss,less}]
indent_style = space
indent_size = 2

# JavaScript, TypeScript, JSX, TSX
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2

# HTML
[*.html]
indent_style = space
indent_size = 2

# XML
[*.xml]
indent_style = space
indent_size = 2

# Python
[*.py]
indent_style = space
indent_size = 4

# Go
[*.go]
indent_style = tab
indent_size = 4

# Java
[*.{java,gradle}]
indent_style = space
indent_size = 4

# C, C++, C#
[*.{c,cpp,h,hpp,cs}]
indent_style = space
indent_size = 4

# PHP
[*.php]
indent_style = space
indent_size = 4

# Ruby
[*.rb]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
indent_size = 4

# Dockerfile
[{Dockerfile,*.dockerfile}]
indent_style = space
indent_size = 2